[project]
name = "dify-osm-plugin"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dify-plugin>=0.7.1",
    "requests>=2.32.5",
]

[tool.setuptools.packages.find]
where = ["."]
include = ["src*"]
